<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070701477294-gqk8mqvvenpprovjh4kelh9569ml8nvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070701477294-gqk8mqvvenpprovjh4kelh9569ml8nvh</string>
	<key>API_KEY</key>
	<string>AIzaSyDPzjEwi_Ezk_6nGx1sScygcBSaLuBOHXY</string>
	<key>GCM_SENDER_ID</key>
	<string>1070701477294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.divyasuresh.clear</string>
	<key>PROJECT_ID</key>
	<string>clear-70ed5</string>
	<key>STORAGE_BUCKET</key>
	<string>clear-70ed5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070701477294:ios:6b32eb55e9c6748f3f9c3f</string>
</dict>
</plist>